
/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

.contenidoMainCentrado
{
    display: flex;
    justify-content: center;
    align-items: center;



}

.tarjeta
{
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    /* box-sizing: padding-box; */
    border: 5px solid brown;
    width: 800px;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;


}

.reseth
{

    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.derecha
{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex-basis: 70%;

}


.izquierda
{

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 30%;

}


.linkButton
{
    text-decoration-line: none;
    margin-top: 20px;
}


.margintop20
{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    margin-top: 20px;
}

.resetbutton
{
    padding: 0;
    margin: 0;
}


.cuadrado
{
    border-radius: 20px;
    /* background-color: brown; */
    background-color: rgba(222, 222, blue, alpha);
    width: 250px;
    height: 200px;
    position: absolute;
    left: -5%;

    border: 1px solid brown;
}